body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
  top:64px;
}
@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animacion-reseña {
  animation: fadeSlideUp 0.6s ease forwards;
}
.swiper-button-next,
.swiper-button-prev {
  color: white; /* Cambia a text-yellow-400 si usas Tailwind directamente */
  display: block;
  z-index: 10;
}

.faq-content {
  transition: max-height 0.5s ease, padding 0.5s ease;
  max-height: 0;
  overflow: hidden;
  padding: 0 1rem; /* Solo padding horizontal por defecto */
  line-height: 1.6; /* Para mejor lectura en móvil */
}

/* Cuando está abierta, se le aplica esta clase */
.faq-content.abierta {
  max-height: 300px; /* o un valor que sepas que cubre la mayoría de las respuestas */
  padding: 1rem;      /* Agrega padding vertical al expandir */
}

@keyframes pulso {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
  }
}

.pulso {
  animation: pulso 2.5s ease-in-out infinite;
}
